<app-loading></app-loading>
<app-menu-area-principal [barraNavegacao]="barraNavegacao">
    <div class="card">
        <div class="card-header">
            <i class="icon-note mr-2"></i><span>Categoria Cadastro</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <span>Nome:</span>
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</app-menu-area-principal>
